$very-dark-grayish-blue: hsl(217, 19%, 35%);
$dark-grayish-blue: hsl(216, 20%, 49%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

$box-height: 15.5rem;
$box-width-mobile: 19rem;

@font-face {
    font-family: "Manrope";
    src: url("https://fonts.google.com/specimen/Manrope:500,700");
}

body {
    background-color: $light-grayish-blue;
    font-family: "Manrope", sans-serif;
    color: $very-dark-grayish-blue;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 375px) {
    .box {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: $box-width-mobile;
        border-radius: 0.5rem;

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        h5 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 1.5rem;
        }
    
        p {
            font-size: 0.85rem;
            font-weight: 500;
            color: $desaturated-dark-blue;
            line-height: 1.25rem;
        }

        .cover-image {
            max-height: 10rem;
            max-width: $box-width-mobile;
            object-fit: cover;
            object-position: 0%;

            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }

        .text-box {
            padding: 1.75rem 1.75rem 1.35rem 1.75rem;

            .info-box {
                height: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;

                font-size: 1rem;

                .face-icon {
                    border-radius: 100%;
    
                    max-width: 100%;
                    max-height: 100%;
                }
    
                p {
                    line-height: 1rem;
                    color: $grayish-blue;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .name {
                    margin-right: 4rem;
                }
                
                .share-img {
                    padding: 0.5rem;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    border-radius: 100%;
                    background-color: $light-grayish-blue;
                    z-index: 2;

                    transition: all 0.35s ease-in-out;

                    img {
                        transform: translateY(-0.1rem);
                    }
                }

                .share-img.active {
                    padding: 0.5rem;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    border-radius: 100%;
                    background-color: $dark-grayish-blue;

                    img {
                        transform: translateY(-0.1rem);
                        filter: brightness(200%) grayscale(1);
                    }
                }
            }
        }
    }
    .share-menu {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: $box-width-mobile;
        bottom: 0;
        z-index: 0;
        padding: 1.5rem 1.8rem;
        box-sizing: border-box;
        color: $grayish-blue;
        background-color: $very-dark-grayish-blue;

        opacity: 0;
        pointer-events: none;
        transition: all 0.35s ease-in-out;

        filter: drop-shadow(0 0.5rem 0.5rem rgba(72, 85, 106, 0.13));

        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        font-size: 0.7rem;

        a {
            img {
                max-height: 1.25rem;
            }
        }

        .spread-text {
            letter-spacing: 0.3rem;
        }
    }
}

@media screen and (min-width: 376px) {
    .box {
        display: flex;
        background-color: white;
        height: $box-height;
        width: 40rem;
        border-radius: 0.5rem;
        filter: drop-shadow(0 0.5rem 0.5rem rgba(72, 85, 106, 0.13));

        h3, h5 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            line-height: 1.5rem;
        }
    
        p {
            font-size: 0.75rem;
            font-weight: 500;
            color: $desaturated-dark-blue;
            line-height: 1.25rem;
        }

        .cover-image {
            max-height: $box-height;
            max-width: $box-height;
            object-fit: cover;
            object-position: 0%;

            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        .text-box {
            padding: 2rem;

            .info-box {
                height: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                font-size: 1rem;

                .face-icon {
                    border-radius: 100%;
    
                    max-width: 100%;
                    max-height: 100%;
                }
    
                p {
                    line-height: 1rem;
                    color: $grayish-blue;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .name {
                    margin-right: 8rem;
                }
                
                .share-img {
                    padding: 0.5rem;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    border-radius: 100%;
                    background-color: $light-grayish-blue;

                    transition: all 0.35s ease-in-out;

                    img {
                        transform: translateY(-0.1rem);
                    }
                }

                .share-img.active {
                    padding: 0.5rem;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    border-radius: 100%;
                    background-color: $dark-grayish-blue;

                    img {
                        transform: translateY(-0.1rem);
                        filter: brightness(200%) grayscale(1);
                    }
                }
            }
        }
    }
    .share-menu {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        color: $grayish-blue;
        left: 29.5rem;
        bottom: 5.5rem;
        background-color: $very-dark-grayish-blue;
        z-index: 2;

        opacity: 0;
        pointer-events: none;
        transition: all 0.35s ease-in-out;

        filter: drop-shadow(0 0.5rem 0.5rem rgba(72, 85, 106, 0.13));

        border-radius: 0.5rem;

        font-size: 0.7rem;

        a {
            img {
                max-height: 1rem;
            }
        }

        .spread-text {
            letter-spacing: 0.3rem;
        }

        ::after {
            content: '';
            width: 0;
            z-index: -1;
            position: absolute;
            border-style: solid;
            border-color: $very-dark-grayish-blue transparent transparent;
            border-width: 1.2rem 1rem;
            right: 40%;
            bottom: -2rem;
        }
    }
}

